.faqs_head{
	font-size: 18px;
}
.btn-action{
    font-size: 28px;
}

.AvatarSelected{
	border: 5px solid;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid rgb(153, 153, 153); /* Blue */
    border-radius: 50%;
    width: 10px;
    height: 10px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}