<template>
	<section id="" class="services section-padding">
	    @if(Auth::user())
	    <div class="service-info pull-left">
	      <div class="icon">
	        <a href=""><i class="fa fa-pencil-square-o btn-edit"></i></a>
	      </div>  
	    </div>
	    @endif
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-4">
					<h2 class="ser-title">Artikel Titel</h2>
					<hr class="botm-line">
					<p>Artikel Titel Text</p>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="service-info">
						<div class="icon">
							<i class="fa fa-stethoscope"></i>
						</div>
						<div class="icon-info">
							<h4>Bereich Überschrift 1</h4>
							<p>Bereich Text 1<</p>
						</div>
					</div>
					<div class="service-info">
						<div class="icon">
							<i class="fa fa-ambulance"></i>
						</div>
						<div class="icon-info">
							<h4>Bereich Überschrift 2</h4>
							<p>Bereich Text 2</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="service-info">
						<div class="icon">
							<i class="fa fa-user-md"></i>
						</div>
						<div class="icon-info">
							<h4>Bereich Überschrift 3</h4>
							<p>Bereich Text 3</p>
						</div>
					</div>
					<div class="service-info">
						<div class="icon">
							<i class="fa fa-medkit"></i>
						</div>
						<div class="icon-info">
							<h4>Bereich Überschrift 4</h4>
							<p>Bereich Text 4</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</template>

<script>
    export default {
    	props: ['items'],
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
