<template>
	<section id="about" class="section-padding">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-4 col-xs-12">
			        <div class="section-title">
			          <h2 class="head-title lg-line"> </h2>
			          <hr class="botm-line">
			          <p class="sec-para"></p>
			        </div>
			    </div>
			    <div class="col-md-9 col-sm-8 col-xs-12">
			       <div style="visibility: visible;" class="col-sm-9 more-features-box">
			          <div class="more-features-box-text">
			            <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
			            <div class="more-features-box-text-description">
				            <h3></h3>
				            <p></p>
				        </div>
	                    </div>
			        </div>
			    </div>
			</div>
		</div>
	</section>
</template>

<script>
    export default {
    	props: ['items'],
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>