<template>
	<section id="" class="section-padding">
		<div class="container">
			<div class="row">
				<div class="schedule-tab">
				<div class="col-md-4 col-sm-4 bor-left">
					<div class="mt-boxy-color"></div>
	    			<div class="medi-info">
		    			<h3>Artikel Bereich Überschrift 1</h3>
						<p>Artikel Bereich Text 1</p>
						<a href="#" class="medi-info-btn">READ MORE</a>		    	
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="medi-info">
		    			<h3>Artikel Bereich Überschrift 2</h3>
						<p>Artikel Bereich Text 2</p>
						<a href="#" class="medi-info-btn">READ MORE</a>	
					</div>
				</div>
				<div class="col-md-4 col-sm-4 mt-boxy-3 text-center">
					<div class="mt-boxy-color"></div>
					<div class="time-info">
			    			<h3>Öffnungszeiten</h3>
							<table style="" border="1">
								<tbody>
									<tr>
									<td>Montag - Freitag</td>
									<td>8.00 - 17.00</td>
									</tr>
									<tr>
									<td>Samstag</td>
									<td>9.30 - 17.30</td>
									</tr>
									<tr>
									<td>Sonntag</td>
									<td>9.30 - 15.00</td>
									</tr>
								</tbody>
							</table>				    		
					</div>
				</div>
				</div>
			</div>
		</div>
	</section>
</template>

<script>
    export default {
    	props: ['items'],
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>

