<template>
  <section id="" class="cta-2 section-padding">
  	<div class="container">
  		<div class=" row">
  			<div class="col-md-2"></div>
              <div class="text-right-md col-md-4 col-sm-4">
                <h2 class="section-title white lg-line">« Artikel Bereich Überschrift 1 »</h2>
              </div>
              <div class="col-md-4 col-sm-5">
                Artikel Bereich Text 1
                <p class="text-right text-primary"><i>— >>Hier steht bereits dein Firmenname << </i></p>
              </div>
              <div class="col-md-2"></div>
          </div>
  	</div>
  </section>
</template>

<script>
    export default {
      props: ['items'],
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>

